.container {
  height: 100%;
  display: grid;
  padding: 0 16px;
  grid-row-gap: 24px;
  grid-template-rows: 1fr auto;
}

.content {
  display: flex;
  align-items: center;
  gap: var(--spacing-6);
  flex-direction: column;
  justify-content: center;
  padding: var(--spacing-4);
  padding-bottom: 100px;
}

.logo {
  width: 200px;
  margin-bottom: 16px;
}

.footer {
  padding: var(--spacing-4) 0;
}
