.button {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  box-shadow: none;
  font-weight: bold;
  padding: 16px 32px;
  border-radius: 8px;
}

.primary {
  background-color: #fff;
  color: #000;
}
