.button {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  box-shadow: none;
  font-weight: bold;
  position: relative;
  padding: 20px 32px;
  border-radius: 12px;
  color: var(--text-inverted);
  background-color: var(--bg-white-black);
}

.small {
  font-size: 14px;
  padding: 12px 16px;
}

.fullWidth {
  width: 100%;
}

.loader {
  top: 50%;
  position: absolute;
  right: var(--spacing-4);
  width: var(--spacing-6);
  height: var(--spacing-6);
  fill: var(--text-inverted);
  transform: translateY(-50%);
}
