.button {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  box-shadow: none;
  font-weight: bold;
  padding: 20px 32px;
  border-radius: 12px;
  color: var(--text-inverted);
  background-color: var(--bg-white-black);
}

.small {
  font-size: 14px;
  padding: 12px 16px;
}

.fullWidth {
  width: 100%;
}
