.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  fill: var(--text-primary);
}

.small {
  width: var(--spacing-4);
  height: var(--spacing-4);
}

.medium {
  width: var(--spacing-6);
  height: var(--spacing-6);
}

.medium {
  width: var(--spacing-8);
  height: var(--spacing-8);
}
