.content {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: var(--spacing-4);

  &:before {
    content: '';
    top: 0;
    left: 50%;
    z-index: 1;
    position: absolute;
    transform: translateX(-50%);
    width: 60px;
    background-color: #fff;
    height: 1px;
    opacity: 0.2;
  }
}

.name {
  color: #fff;
  font-weight: 400;
  margin-bottom: 0;
  line-height: 1.2;
  font-size: 24px;
}

.username {
  color: #fff;
  margin-top: 0;
  font-weight: 300;
}

