.medium {
  width: 64px;
  height: 64px;
}

.large {
  width: 128px;
  height: 128px;

  .defaultImage {
    font-size: 64px;
  }
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 64px;
}

.defaultImage {
  width: 100%;
  height: 100%;
  color: var(--text-inverted);
  border-radius: 64px;
  background-color: var(--bg-white-black);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 32px;
}
