.wrapper {
  height: 100%;
  display: grid;
  grid-row-gap: 24px;
  grid-template-rows: 1fr auto;
}

.isWithAccount {
  grid-template-rows: auto 1fr auto;
}

.content {
  padding: var(--spacing-4);
  min-height: 0;
}

.button {
  display: flex;
  padding: var(--spacing-4);
}

.scrollAreaRoot {
  height: 100%;
}

.scrollAreaViewport {
  width: 100%;
  height: 100%;
}
