.card {
  width: 100%;
  display: grid;
  text-decoration: none;
  grid-gap: var(--spacing-4);
  grid-template-columns: 64px 1fr;
  padding: var(--spacing-2);
  border-radius: var(--spacing-2);
  background-color: var(--tg-theme-bg-color);
}

.image {
  width: 64px;
  height: 64px;
  border-radius: 64px;
}

.name {
  display: -webkit-box;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
}

.defaultImage {
  width: 64px;
  height: 64px;
  color: var(--text-primary);
  border-radius: 64px;
  background-color: var(--tg-theme-secondary-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 32px;
}
