@import 'variables';

* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
  height: 100vh;
  background: var(--background-color);
}

body {
  background: linear-gradient(180deg, rgba(47, 44, 170, 1) 0%, rgba(89, 86, 255, 1) 25%, rgba(89, 86, 255, 1) 100%);
}
