@import 'variables';

* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
  height: var(--tg-viewport-height);
  background: var(--tg-theme-secondary-bg-color);
  font-family: -apple-system,BlinkMacSystemFont,sans-serif
}

#__next {
  height: 100%;
}
