.list {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: 400px;
  max-width: 100%;
}

.item {
  flex: 0 0 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  scroll-snap-align: center;

  & + & {
    margin-top: 40px;
  }
}
