.flow {
  top: 0;
  left: 0;
  gap: 24px;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: 24px;
  position: absolute;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
    180deg,
    rgba(47, 44, 170, 1) 0%,
    rgba(89, 86, 255, 1) 25%,
    rgba(89, 86, 255, 1) 100%
  );
}

.logo {
  width: 200px;
  margin-bottom: 16px;
}
