.ballance {
  gap: 8px;
  display: flex;
  font-size: 48px;
  font-weight: 800;
  align-items: center;
  color: var(--tg-theme-text-color);
}

.coin {
  width: 32px;
}

.small {
  gap: 4px;
  font-size: 20px;


  .coin {
    width: 20px;
  }
}
