.ballance {
  gap: 8px;
  color: #fff;
  display: flex;
  font-size: 48px;
  font-weight: 800;
  align-items: center;
}

.coin {
  width: 32px;
}

.primary {
  color: #fff;
}

.primaryInverse {
  color: #000;
}

.small {
  gap: 4px;
  font-size: 20px;


  .coin {
    width: 20px;
  }
}
